<div class="settings-block">
    <form action="/">
        <div class="top-section">
            <a href="#" class="menu-btn"><em class="icon-menu"></em></a>
            <div class="search-form">
                <input type="text">
                <a href="#" class="btn-check"><em class="icon-check"></em></a>
                <a href="#" class="btn-remove"><em class="icon-delete"></em></a>
                <a href="#" class="btn-search"><em class="icon-add"></em></a>
            </div>
        </div>
        <ul class="favourite-list">
            <li>
                <a href="#">
                    <span class="w-icon"><em class="icon-sunny"></em></span>
                    <span class="temperature">32 <sup>o</sup></span>
                    <span class="city-description">
                        <strong class="city">Kyiv</strong>
                        <span class="state-description">//Mostly Sunny</span>
                    </span>
                    <span class="checkbox">
                        <input id="check1" type="checkbox" name="check" value="check1">
                        <label for="check1"></label>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="w-icon"><em class="icon-sunny"></em></span>
                    <span class="temperature">29 <sup>o</sup></span>
                    <span class="city-description">
                        <strong class="city">Kyiv</strong>
                        <span class="state-description">//Mostly Sunny</span>
                    </span>
                    <span class="checkbox">
                        <input id="check2" type="checkbox" name="check" value="check2">
                        <label for="check2"></label>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="w-icon"><em class="icon-sunny"></em></span>
                    <span class="temperature">25 <sup>o</sup></span>
                    <span class="city-description">
                        <strong class="city">Kyiv</strong>
                        <span class="state-description">//Mostly Sunny</span>
                    </span>
                    <span class="checkbox">
                        <input id="check3" type="checkbox" name="check" value="check3">
                        <label for="check3"></label>
                    </span>
                </a>
            </li>
        </ul>
		<div class="w-conf">
			<div class="w-conf-temp">
				<a href="#" class="celcium active"><sup>o</sup> C</a>
				<a href="#" class="farrengeit"><sup>o</sup> F</a>
			</div>
			<div class="toggle-conf"><a href="#"><em class="icon-settings"></em></a></div>
			<div class="show-for drag-slider">
				<span class="title">Show weather for</span>
				<div class="range-slider">
					<input id="range_01" />
				</div>
			</div>
			<div class="update-every drag-slider">
				<span class="title">Update weather every</span>
				<div class="range-slider">
					<input id="range_02" />
				</div>
			</div>
		</div>
    </form>

</div>