* {
    @include box-sizing(border-box);
    margin  : 0;
    padding : 0;
    &:after, &:before {
        @include box-sizing(border-box);
    }
}

html, body { height : 100%; }

body {
    position    : relative;
    overflow    : hidden;
    font-family : 'PT Sans', sans-serif;
    color       : $white;
    background  : #080b22;
}

.container {
    @include size(100%);
    padding : 0 20px;
    .row { height : 100%; }
}

a {
    text-decoration : none;
    color           : $white;
    &:hover { color : rgba($white, 0.8); }
}

.top-section {
    margin-bottom : 26px;
    .city, .date {
        text-transform : uppercase;
        letter-spacing : 3px;
    }
    .city {
        font-size   : 75px;
        line-height : 69px;
    }
    .date { font-size : 40px; }
}

.last-update {
    float     : left;
    font-size : 30px;
}

.refresh {
    display        : inline-block;
    margin-bottom  : 10px;
    height         : 39px;
    font-size      : 50px;
    line-height    : 39px;
    vertical-align : middle;
}

.currently-weather {
    padding-bottom : 5px;
    border-bottom  : 2px solid rgba($white, 0.25);
    .item {
        float : left;
        &:nth-child(1) {
            width        : 180px;
            padding-left : 25px;
        }
        &:last-child {
            float      : right;
            padding    : 38px 26px 0 0;
            text-align : center;
        }
    }
    .big-icon {
        display     : block;
        margin-left : -22px;
        font-size   : 170px;
    }
    .currently-temperature {
        display     : block;
        position    : relative;
        padding-top : 15px;
        font-size   : 100px;
        height      : 132px;
        sup {
            position  : absolute;
            top       : 20px;
            font-size : 53px;
        }
    }
    .state-description {
        margin-left    : 23px;
        font-size      : 20px;
        text-transform : uppercase;
    }
    .moon-phase {
        display   : block;
        height    : 83px;
        font-size : 80px;
        em {
            display     : block;
            margin-left : -7px;
            width       : 57px;
        }
    }
    .moonrise-time { font-size : 30px; }
}

.whole-day {
    @include clearfix();
    .item-day {
        float       : left;
        padding-top : 15px;
        width       : 25%;
        text-align  : center;
        time {
            display   : block;
            font-size : 20px;
        }
        span { display : block; }
        .weather-state { font-size : 70px; }
        .temperature { font-size : 40px; }
    }
}

.current-options {
    @include clearfix();
    .item-option {
        float       : left;
        width       : 25%;
        padding-top : 20px;
        text-align  : center;
        span { display : block; }
        .option-icon { font-size : 70px; }
        .option-data { font-size : 40px; }
        .wind-direction {
            em { display : block; }
        }
    }
}

.week-weather {
    margin-top : 10px;
    padding    : 2px 33px;
    background : rgba($white, 0.2);
    .day {
        padding       : 32px 0 16px;
        border-bottom : 3px solid rgba($white, 0.25);
        @include clearfix();
        &:last-child { border-bottom : none; }
        .day-name {
            float          : left;
            width          : 115px;
            font-size      : 35px;
            text-transform : uppercase;
        }
        .day-weather {
            float        : left;
            margin-right : 23px;
            font-size    : 50px;
            em {
            }
        }
        .temperature-range {
            float       : left;
            padding-top : 7px;
            span {
                float     : left;
                font-size : 30px;
                sup { font-size : 18px; }
            }
            figure {
                float  : left;
                margin : 5px 7px 0;
                .fill {
                    display       : block;
                    @include size(130px, 30px);
                    background    : $white;
                    border-radius : 15px;
                }
            }
        }
    }
}

.settings {
    position      : absolute;
    @include size(100%);
    padding-right : 0;
    right         : 0;
    will-change   : right;
    @include transition(all 0.5s linear);
    &.hide-block {
        right : -32%;
        .top-section {
            .menu-btn { left : -103px; }
        }
    }
}

.settings-block {
    background : #081322;
    height     : 100%;
    .top-section {
        padding-top    : 17px;
        padding-bottom : 10px;
        margin         : 0 0 17px 50px;
        @include clearfix();
        border-bottom  : 3px solid rgba(255, 255, 255, 0.25);
        .menu-btn {
            position  : relative;
            left      : 0;
            float     : left;
            font-size : 40px;
            @include transition(all 0.5s linear);
        }
    }
    .search-form {
        display : inline-block;
        width   : calc(100% - 62px);
        a {
            float     : right;
            font-size : 40px;
            &:hover, &.active { color : $active-icons; }
            @include transition(all 0.2s linear);
        }
        .btn-search {
        }
        .btn-check { display : none; }
        .btn-remove {
            margin-left : 15px;
        }
        [type="text"] {
            display       : none;
            background    : #c1c4c8;
            border-radius : 15px;
        }
    }
    input[type=checkbox] {
        display : none;
        &:checked + label {
            &:before { color : $active-icons; }
        }
    }

    .checkbox {
        float  : right;
        margin : 24px 57px 0 0;
        label {
            position : relative;
            cursor   : pointer;
            &:before {
                content     : "M";
                display     : inline-block;
                position    : absolute;
                left        : 10px;
                top         : 6px;
                z-index     : 16;
                @include size(44px);
                font-family : "sunny4";
                font-size   : 24px;
                color       : rgba($black, 0.98);
                @include transition(all 0.2s linear);
            }
            &:after {
                content       : '';
                position      : absolute;
                top           : 1px;
                left          : 5px;
                @include size(30px);
                background    : rgba($black, 0.98);
                border-radius : 3px;
            }
        }
    }
}

.favourite-list {
    margin  : 0 0 0 50px;
    padding : 0;
    li {
        list-style     : none;
        margin-bottom  : 10px;
        padding-bottom : 20px;
        border-bottom  : 2px solid rgba($white, 0.25);
        a { display : block; }
    }
    .w-icon {
        display        : inline-block;
        margin         : -20px 12px 0 0;
        vertical-align : middle;
        height         : 70px;
        font-size      : 70px;
        line-height    : 1em;
        color          : rgba($white, 0.7);
    }
    .temperature {
        display     : inline-block;
        font-size   : 60px;
        line-height : 49px;
        sup {
            position  : relative;
            top       : -7px;
            left      : -20px;
            font-size : 31px;
        }
    }
    .city-description {
        display : inline-block;
        .city {
            display     : block;
            font-size   : 30px;
            font-weight : normal;
        }
        .state-description {
            font-size : 20px;
            color     : rgba($white, 0.5);
        }
    }
}

.w-conf {
    position   : absolute;
    top        : 100%;
    z-index    : 20;
    width      : 100%;
    background : $cong-bg;
    padding    : 15px 0 15px 50px;
    @include transition(all 0.1s linear);
    &.open-block {
        top    : auto;
        bottom : 0;
        .toggle-conf { top : 23px; }
    }
    .w-conf-temp {
        padding-bottom : 22px;
        font-size      : 40px;
        a {
            display       : inline-block;
            margin-right  : 20px;
            padding-right : 40px;
            height        : 53px;
            line-height   : 30px;
            color         : rgba($white, 0.25);
            &:first-child { border-right : 2px solid rgba($white, 0.25); }
            &.active { color : $white; }
        }
    }
    .toggle-conf {
        position : absolute;
        top      : -60px;
        right    : 53px;
        a { font-size : 41px; }
    }

    .drag-slider {
        padding    : 18px 55px 27px 0;
        border-top : 2px solid rgba($white, 0.25);
        span {
        }
        .title {
            font-size : 25px;
            color     : rgba($white, 0.25);
        }
        .count {
            font-size : 25px;
            float     : right;
        }
        input { width : 100%; }
        .irs {
            display : block;
            width   : 100%;
        }
        .irs-single {
            left       : auto !important;
            right      : 0;
            top        : -33px;
            font-size  : 25px;
            background : none;
        }
        .irs-min, .irs-max { display : none; }
        .irs-line,
        .irs-line-left,
        .irs-line-mid,
        .irs-line-right,
        .irs-bar,
        .irs-bar-edge {
            height : 4px;
        }
        .irs-bar {
            @include transition(all 0.1s linear);
            will-change : width;
        }
        .irs-bar, .irs-bar-edge {
            border     : none;
            background : $active-icons;
        }
        .irs-bar-edge { width : 15px; }
        .irs-line {
            background : #081322;
            border     : none;
        }
        .irs-slider {
            top         : 19px;
            @include size(30px);
            @include transition(all 0.1s linear);
            will-change : left;
            &:before {
                content       : '';
                position      : absolute;
                top           : 6px;
                left          : 7px;
                @include size(15px);
                border-radius : 100%;
                background    : #081322;
            }
        }
    }
}




























