@media only screen and (max-width : 1600px) {
    .top-section .date {
        font-size : 24px;
    }
    .currently-weather {
        .big-icon { font-size : 130px; }
        .currently-temperature {
            font-size : 75px;
            height    : 106px;
            sup {
                top   : 8px;
                right : -20px;
            }
        }
        .item {
            &:last-child { padding-top : 13px; }
        }
    }

    .current-options .item-option {
        .option-icon { font-size : 40px; }
        .option-data { font-size : 20px; }
    }

}

@media only screen and (max-width : 1200px) {
    .settings {
        flex-basis : 50.33333%;
        max-width  : 50.33333%;
        &.hide-block { right : -49%; }
    }
}

@media only screen and (max-width : 1024px) {
    .settings-block .top-section .menu-btn {
        font-size : 29px;
    }
    .week-weather {
        margin-top : 55px;
        .day {
            padding : 12px 0;
            .day-name {
                margin-top : 11px;
                width      : 80px;
                font-size  : 24px;
            }
            .day-weather {
                font-size : 42px;
                em {
                    position : relative;
                    top      : 6px;
                }
            }
        }
    }
    .currently-weather {
        .item {
            &:nth-child(1) { width : 135px; }
        }
    }
}

@media only screen and (max-width : 768px) {
    .top-section {
        margin-top : 50px;
        .city { font-size : 55px; }
        .date { font-size : 21px; }
    }
    .currently-weather {
        .currently-temperature sup { right : 0; }
        .state-description {
            font-size : 14px;
        }
        .item {
            &:nth-child(1) {
                padding-left : 8px;
                width        : 119px;
            }
            &:last-child { padding-right : 4px; }
        }
        .moon-phase { font-size : 74px; }
        .moonrise-time { font-size : 28px; }
    }
}