$white : rgba(255, 255, 255, 1);
$black : rgba(0, 0, 0, 1);

$day-bg : #166eef;

$night-bg : #080b22;

$cong-bg: #152132;

//$day-bg : rgb(22,110,239);
//$night-bg : rgb(41,137,216);

$sun-bg : #FFF000;

$sunset-bg : #FF5400;
$active-icons : #FF4200;

