<div class="week-weather">
	<div class="day">
		<span class="day-name">Today</span>
		<span class="day-weather"><em class="icon-snow"></em></span>
		<div class="temperature-range">
			<span class="min-temp">-2 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">8 <sup>o</sup></span>
		</div>
	</div>
	<div class="day">
		<span class="day-name">Tue</span>
		<span class="day-weather"><em class="icon-rain-snow"></em></span>
		<div class="temperature-range">
			<span class="min-temp">2 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">12 <sup>o</sup></span>
		</div>
	</div>
	<div class="day">
		<span class="day-name">Wed</span>
		<span class="day-weather"><em class="icon-sunny"></em></span>
		<div class="temperature-range">
			<span class="min-temp">-3 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">6 <sup>o</sup></span>
		</div>
	</div>
	<div class="day">
		<span class="day-name">Thu</span>
		<span class="day-weather"><em class="icon-thunderstorm"></em></span>
		<div class="temperature-range">
			<span class="min-temp">-2 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">7 <sup>o</sup></span>
		</div>
	</div>
	<div class="day">
		<span class="day-name">Fri</span>
		<span class="day-weather"><em class="icon-snow"></em></span>
		<div class="temperature-range">
			<span class="min-temp">-4 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">5 <sup>o</sup></span>
		</div>
	</div>
	<div class="day">
		<span class="day-name">Sat</span>
		<span class="day-weather"><em class="icon-rain"></em></span>
		<div class="temperature-range">
			<span class="min-temp">-2 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">10 <sup>o</sup></span>
		</div>
	</div>
	<div class="day">
		<span class="day-name">Sun</span>
		<span class="day-weather"><em class="icon-heavy-rain"></em></span>
		<div class="temperature-range">
			<span class="min-temp">-3 <sup>o</sup></span>
			<figure>
				<strong class="fill"></strong>
			</figure>
			<span class="max-temp">9 <sup>o</sup></span>
		</div>
	</div>
</div>